
.appNav {
    min-height: 80vh;
    grid-area: nav;
    padding: 10px 20px;
    background-color: #4E96D2;
    border-radius: 5px;
    box-shadow: 0px 0px 8px darkslategray;
}

.appNav a {
    text-decoration-line: none;
    text-align: start;
    color: white;
    line-height: 30px;
}

.appNav a:hover {
    color: gold;
    transition: all 0.5s;
}

.appNav a.active {
    color: gold;
}

.appMainContent {
    grid-area: content;
    background-color: #fff;
}