.preloader {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: cornflowerblue;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}


@keyframes slideIn {
    from {
        width: 0;
        background-color: #ce0524;
        opacity: 0;
    }

    to {
        width: 100%;
        background-color: #2654ea;
        opacity: 1;
    }

}