.app-wrapper {
  display: grid;
  width: 830px;
  margin: 0 auto;

  grid-template-areas:
      "header header header"
      "nav content content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: #1B66A5;
}

.header-img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
}

.app-nav {
  grid-area: nav;
  padding: 10px 20px;
  text-align: start;
  color: white;
  line-height: 30px;
  background-color: #4E96D2;
}

.app-main-content {
  grid-area: content;
  background-color: #fff;
}
.main-content-img {
  width: 100%;
}

.avatar {
  width: 100px;
}