.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}
.dialog {
    display: flex;
    align-items: center;
}

.dialog img {
    margin-right: 0.5rem;
    width: 2.5rem;


}
.dialog.active {
    text-decoration: underline;
}
.messages {

}

.message {

}